@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;600;700&display=swap');

body {
    font-family: "Open Sans", sans-serif;
    font-weight: bold;
}


header{
    background-color: #FFFFFF;
    color: #4A4A4A;
    display: flex;
    flex-direction: row;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    align-items: center;
    padding-top: 25px;
    padding-bottom: 25px;
}

.logoNav{
    width: 200px;
    margin-left: 19%;
}

.links{
    display: flex;
    flex-direction: row;
    gap: 20%;
    font-size: 23px;
    font-weight: 300;
    margin-left: 25%;
}

.botaoSair{
    cursor: pointer;
}

.comidas, .pessoas, .locais{
    text-decoration: none;
    color: #4A4A4A;
    letter-spacing: 2px;
}


.comidas.active, .pessoas.active, .locais.active {
    font-weight: 700; 
}

.comidas:hover, .pessoas:hover, .locais:hover, .botaoSair:hover {
    color: rgba(27, 27, 27, 0.3); 
}

h3{
    font-weight: 600;
    letter-spacing: 1px;
    margin-left: 19%;
    color: #4A4A4A;
    margin-top: 40px;
    font-size: 25px;
}

.linha{
    margin-left: 19%;
    margin-top: 5px;
    width: 65%;
    height: 5px;
    background: #AE23A9;
    background: linear-gradient(84deg,rgba(174, 35, 169, 1) 0%, rgba(220, 78, 27, 1) 100%);
}

.divimagens{
    display: flex;
    flex-direction: row;
    width: 80%;
    flex-wrap:wrap;
    margin-left: 19%;
    margin-top: 30px;
    gap: 3%;
}

.divImg{
    position: relative;
    margin-bottom: 30px;
}

.titulo{
    position: absolute;
    color: #F9F9F9;
    font-size: 30px;
    bottom: 10px;
    left: 5%;
}

.imagem{
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease-in-out;
}

.divImg:hover{
    transform: scale(1.05);
}
